<div>
  <h2>快递员id: {{senderId}}
    <button (click)="logout()">取消登录</button>
  </h2>
  <button (click)="changeToLocal()">切换至本地</button>
  <button (click)="changeToTest()">切换至测试</button>
</div>
============== 一键导入 ==============<br/>
<app-mass-import></app-mass-import>
============== 一键导入 ==============<br/>
============== 状态模块 ==============<br/>
<app-status></app-status>
============== 状态模块 ==============<br/>
============== 任务模块 ==============<br/>
<app-task></app-task>
============== 任务模块 ==============<br/>
============== 行程模块 ==============<br/>
<app-routine></app-routine>
============== 行程模块 ==============<br/>
============== 推送模块 ==============<br/>
<app-push></app-push>
============== 推送模块 ==============<br/>
