<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="!isAuthenticated">
    <label for="phonenumber">电话号码</label><input id="phonenumber" [(ngModel)]="phonenumber"/>
    <label for="password">密码</label><input type="password" id="password" [(ngModel)]="password"/>
    <label style="color: #FF0000">{{errorMsg}}</label>
    <button (click)="doLogin()">Get token</button>
  </div>
  <div *ngIf="isAuthenticated">
    Hello Sender {{senderId}} <br>
    <app-status></app-status>
    <app-task></app-task>
  </div>
</div>

